

.one{
    display: none;
}


@media (min-width: 540px) and (max-width: 960px) {
    .one{
        display: block;
    }
}

@media (min-width: 540px) and (max-width: 960px) {
    .two{
        display: none;
    }
}